{% set submenu = 'password' %}
{% extends "user/profile_base.jinja" %}

{% block head_title %}Configurar Senha | Hack 'n' Cast{% endblock head_title %}

{% block profile_content %}
<h4 class="ui horizontal divider header">
  <i class="lock icon"></i>
  Configurar Senha
</h4>

<form method="POST" action="{{ url('account_set_password') }}" class="ui form password_set">
  {{ csrf_input }}

  <div class="two fields">
    <div class="field {{f.has_error(form.password1) }}">
      <label>{{ form.password1.label }}</label>
      {{ form.password1 }}
    </div>

    <div class="field {{f.has_error(form.password2) }}">
      <label>{{ form.password2.label }}</label>
      {{ form.password2 }}
    </div>
  </div>

  {{ f.form_error_div(form) }}
  <button class="ui labeled icon blue button" type="submit" name="action">
    <i class="checkmark icon"></i>
    Salvar
  </button>
</form>
{% endblock profile_content %}
