{% extends "base.html" %}

{% load static %}

{% block head_title %}Senha alterada | {{ site.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/custom/login.min.css' %}">
{% endblock styles %}

{% block header_js %}
{% endblock header_js %}

{% block content %}
<div class="ui left aligned stacked segment">
  <h1 class="ui dividing header">
    <div class="content">
      <i class="mail icon"></i>
      Senha alterada
    </div>
  </h1>
  <p>
  Sua senha foi alterada com sucesso!
  </p>
</div>
{% endblock content %}
