{% extends "base.html" %}

{% load i18n static widget_tweaks %}

{% block head_title %}Redefinição de Senha | {{ site.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/custom/login.min.css' %}">
{% endblock styles %}

{% block header_js %}
<script src="{% static 'js/user/password-reset.min.js' %}"></script>
{% endblock header_js %}

{% block content %}
<h2 class="ui teal image header">
  <img src="{% static 'img/hnc-logo.svg' %}" class="image" style="width: 100px">
  <div class="content">
    Redefinição de senha
  </div>
</h2>

<div class="ui left aligned stacked segment">
  <p>
  Esqueceu a sua senha? Insira o seu endereço de e-mail abaixo, e lhe
  enviaremos um e-mail permitindo que a redefina.
  </p>
  <form class="ui large form password_reset" method="POST" action="{% url 'account_reset_password' %}">

    {% csrf_token %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- username/email -->
    <div class="field {% if form.email.errors %}error{% endif %}">
      {% if form.email.errors %}
      <div class="ui pointing below red basic label">
        {{ form.email.errors.0 }}
      </div>
      {% endif %}
      <div class="ui left icon input">
        <i class="mail icon"></i>
        {% render_field form.email placeholder="E-mail" autofocus="autofocus" %}
      </div>
    </div>

    <!-- nocaptcha -->
    <div class="field {% if form.captcha.errors %}error{% endif %}">
      {% if form.captcha.errors %}
      <div class="ui pointing below red basic label">
        {{ form.captcha.errors.0 }}
      </div>
      {% endif %}
      {% render_field form.captcha %}
    </div>


    <button class="ui labeled icon fluid large blue submit button" type="submit">
      <i class="privacy icon"></i>
      Redefinir
    </button>

    <div class="ui error message" {% if form.non_field_errors %}style="display: block"{% endif %}>
      <ul class="list">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>

    </div>
  </form>
</div>

<div class="ui message">
  Por favor, contacte-nos se tiver qualquer problema para redefinir a sua
  senha.
</div>

{% endblock content %}
