
{% extends "base.html" %}

{% load static %}

{% block head_title %}Redefinição de Senha | {{ site.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/custom/login.min.css' %}">
{% endblock styles %}

{% block header_js %}
{% endblock header_js %}

{% block content %}
<div class="ui left aligned stacked segment">
  <h1 class="ui dividing header">
    <div class="content">
      <i class="key icon"></i>
      Redefinição da senha
    </div>
  </h1>
  <p>
  Um e-mail foi enviado. Por favor contacte-nos se não o receber nos próximos
  minutos.
  </p>
</div>
{% endblock content %}
