{% extends "base.html" %}

{% load i18n static %}

{% block head_title %}Alterar Senha | {{ site.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/custom/login.min.css' %}">
{% endblock styles %}

{% block header_js %}
<script src="{% static 'js/user/password-reset-from-key.min.js' %}"></script>
{% endblock header_js %}

{% block content %}
<h2 class="ui teal image header">
  <img src="{% static 'img/hnc-logo.svg' %}" class="image" style="width: 100px">
  <div class="content">
    {% if token_fail %}
    Token inválido
    {% else %}
    Alterar Senha
    {% endif %}
  </div>
</h2>

{% if token_fail %}
<div class="ui left aligned segment">
	O link para redefinição da senha era inválido, provavelmente por já ter sido
	usado. Por favor peça uma nova redefinição da senha.
</div>
{% else %}
  {% if form %}
  <div class="ui left aligned stacked segment">
    <form class="ui large form" method="POST" action=".">

      {% csrf_token %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <!-- password1 -->
      <div class="field {% if form.password1.errors %}error{% endif %}">
        {% if form.password1.errors %}
        <div class="ui pointing below red basic label">
          {{ form.password1.errors.0 }}
        </div>
        {% endif %}
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input style="" id="id_password1" name="password1" placeholder="Nova senha" type="password">
        </div>
      </div>

      <!-- password2 -->
      <div class="field {% if form.password2.errors %}error{% endif %}">
        {% if form.password2.errors %}
        <div class="ui pointing below red basic label">
          {{ form.password2.errors.0 }}
        </div>
        {% endif %}
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input style="" id="id_password2" name="password2" placeholder="Nova senha (novamente)" type="password">
        </div>
      </div>

      <button class="ui fluid blue submit button" type="submit">Alterar a senha</button>

      <div class="ui error message" {% if form.non_field_errors %}style="display: block"{% endif %}>
        <ul class="list">
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>

      </div>
    </form>
  </div>
  {% else %}
  {% endif %}
{% endif %}

{% endblock content %}
