{% extends "socialaccount/base.html" %}

{% load i18n static widget_tweaks %}

{% block head_title %}Cadastro | {{ site.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'semantic/custom/login.min.css' %}">
{% endblock styles %}

{% block header_js %}
<script src="{% static 'js/user/password-reset.min.js' %}"></script>
{% endblock header_js %}

{% block content %}
<h1 class="ui teal image header">
  <img src="{% static 'img/hnc-logo.svg' %}" class="image" style="width: 100px">
  <div class="content">
    Cadastro
  </div>
</h1>

<div class="ui left aligned stacked segment">
  <p>
    Você está prestes a usar sua conta do {{ account.get_provider.name }} para acessar o {{ site.name }}.
    Como etapa final, por favor preencha o seguinte formulário:
  </p>
  <form class="ui large form signup" id="signup_form" method="POST" action="{% url 'socialaccount_signup' %}">

    {% csrf_token %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- email -->
    <div class="field {% if form.email.errors %}error{% endif %}">
      {% if form.email.errors %}
      <div class="ui pointing below red basic label">
        {{ form.email.errors.0 }}
      </div>
      {% endif %}
      <div class="ui left icon input">
        <i class="mail icon"></i>
        {% render_field form.email placeholder="Endereço de E-mail" autofocus="autofocus" %}
      </div>
    </div>

    <button class="ui large fluid blue submit button" type="submit">Cadastrar</button>

    <div class="ui error message" {% if form.non_field_errors %}style="display: block"{% endif %}>
      <ul class="list">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </form>

</div>
{% endblock %}

