<div class="ui top borderless fixed hidden menu" id="primary-menu">
  <div class="ui container">
    <a class="item" href="/">
      <img class="logo" src="{{ static("img/logo.svg") }}">
    </a>
    {% include "core/comon_menu.jinja" %}
  </div>
</div>
