<div class="ui container">
  <div class="ui transparent borderless inverted pointing menu" id="secondary-menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="item">
      <img class="logo" src="{{ static("img/logo-inverted.svg") }}">
    </a>
    {% include "core/comon_menu.jinja" %}
  </div>
</div>
