@import "src/less/base";

@import (inline) "vendor/semantic-ui/components/input.css";
@import (inline) "vendor/semantic-ui/components/message.css";
@import (inline) "vendor/semantic-ui/components/checkbox.css";
@import (inline) "vendor/semantic-ui/components/label.css";

body {
  background-color: #2e2e2e;
  & > .grid {
    height: 100%;
  }
}

.column {
  max-width: 450px;
}

.ui.image.header {
  margin-bottom: 0px;
}

.g-recaptcha > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

& { @import "src/less/includes/social_buttons"; }
